<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('grassroot')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.grassroot}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('payableto')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.payableto}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('pertymembernumber')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.pertymembernumber}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('membership')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.membership}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('dirtime')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.dirtime}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('contact')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.contact}}
    </div>
  </div>
</div>
