<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('name')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.name}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('extractModelId')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.extractModelIdValue}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('saveDatasource')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.saveDatasourceValue}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('saveModelId')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.saveModelId}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-12">
    <small class="col-2 col-form-label text-right">{{uiLabel('description')}}:</small>
    <div class="col-10 form-control border-0">
          {{viewDataTemp.description}}
    </div>
  </div>
</div>
