<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('userLoginId')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.userLoginId}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-12">
    <small class="col-2 col-form-label text-right">{{uiLabel('reason')}}:</small>
    <div class="col-10 form-control border-0">
          {{viewDataTemp.reason}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('startDate')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.startDate}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('endDate')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.endDate}}
    </div>
  </div>
</div>
