<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('trainClassName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.trainClassName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('management')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.management}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('sponsor')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.sponsor}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('trainPlace')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.trainPlace}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('startTime')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.startTime}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('endTime')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.endTime}}
    </div>
  </div>
</div>
