<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('orderId')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.orderId}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('orderName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.orderName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('accountMethod')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.accountMethodValue}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('saleUser')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.saleUserValue}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('operator')}}:</small>
    <div class="col-8 form-control border-0">
     
      {{viewDataTemp.operatorValue}}
        </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('amount')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.amount}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('createTime')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.createTime}}
    </div>
  </div>
</div>
