<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('title')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.title}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('name')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.name}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('birthday')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.birthday}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('political')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.political}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('workunits')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.workunits}}
    </div>
  </div>
</div>
