<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('dataSourceName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.dataSourceName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('description')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.description}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('fieldTypeName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.fieldTypeName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('schemaName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.schemaName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('databaseName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.databaseName}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('ip')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.ip}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('port')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.port}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('jdbcUsername')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.jdbcUsername}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('jdbcPassword')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.jdbcPassword}}
    </div>
  </div>
</div>
