<app-common-pop-or-page heading="{{inEdit?'修改':'添加'}}订单"
                        [contentView]="contentView"
                        [operateView]="operateView"
                        (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
<ng-content></ng-content>
<ng-template #contentView>
  <div class="card">
    <div class="card-header">
      基本信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              <span class="text-danger">*</span>
              {{uiLabel('orderName')}}:
            </small>
            <input class="col-4 form-control form-control-sm" [(ngModel)]="editDataTemp.orderName" type="text">
            <small class="col-4">
              <div>
                <small class="text-left text-muted">必填</small>
              </div>
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('accountMethod')}}:
            </small>

            <common-select class="col-4 p-0 ml-0" [cssStyle]="'form-control form-control-sm'" [(ngModel)]="editDataTemp.accountMethod" [dataList]="fieldInfoService.fieldInfoMap.accountMethod.selectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('saleUser')}}:
            </small>

            <span class="col-4 form-control form-control-sm" [selectUser] [(ngModel)]="editDataTemp.saleUser" [userName]="editDataTemp.saleUserValue"></span>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              <span class="text-danger">*</span>
              {{uiLabel('amount')}}:
            </small>
            <input class="col-4 form-control form-control-sm" [(ngModel)]="editDataTemp.amount" type="text">
            <small class="col-4">
              <div>
                <small class="text-left text-muted">必填</small>
              </div>
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('createTime')}}:
            </small>
            <app-date-time-input class="col-4 row p-0 m-0" [(ngModel)]="editDataTemp.createTime"></app-date-time-input>
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2" *ngIf="commonService.hasAttachment">
    <app-attachment-files [(ngModel)]="attachList"></app-attachment-files>
  </div>



</ng-template>

<ng-template #operateView>
  <div class="float-right btn-group">
    <button type="submit" class="btn btn-xsm btn-warning" (click)="saveData()">保存</button>
    <button type="submit" *ngIf="commonService.hasFlow" class="btn btn-xsm btn-primary" (click)="saveAndHandleTask()">提交审批</button>
  </div>
</ng-template>

