<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('generalIdValue')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.generalIdValue}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('professionalHistory')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.professionalHistory}}
    </div>
  </div>
</div>
