<app-handle-task *ngIf="commonService.hasFlow"
                 [taskId]="taskId"
                 [procInstId]="procInstId"
                 [formView]="contentView"
                 (closeViewEvent)="closeViewEvent.emit()"
                 (handleTaskDoneEvent)="handleTaskDoneEvent.emit()"></app-handle-task>
<ng-container *ngIf="!commonService.hasFlow">
  <app-common-pop-or-page heading="查看数据传输模型"
                          [contentView]="contentView"
                          (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
</ng-container>

<ng-template #contentView>
  <div class="card">
    <div class="card-header">
      基本信息
    </div>
    <div class="card-body">
      <app-view-dt-data-transfer-model-base-info [PK]="PK" (dataLoadedEvent)="listenDataLoad($event)"></app-view-dt-data-transfer-model-base-info>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      字段映射
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead class="">
        <tr>
          <th>存储模型字段</th>
          <th>抽取模型字段</th>
          <th>默认值</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of fieldList">
          <td>{{field.description}}</td>
          <td>
            {{field.extractField}}
          </td>
          <td>{{field.defaultValue}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="mt-2" *ngIf="commonService.hasAttachment">
    <app-attachment-files [(ngModel)]="attachList" [inEdit]="false"></app-attachment-files>
  </div>
</ng-template>
