<app-common-pop-or-page heading="年度考核"
                        [showPopUp]="showPopUp"
                        [hasBackButton]="hasBackButton"
                        [contentView]="contentView"
                        (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
<ng-content></ng-content>
<ng-template #contentView>
  <div  *ngIf="!showDataTableOnly">
<div class="card">
    <div class="card-header"><span>查询</span>
        <button type="button" class="btn btn-outline-primary float-right btn-xsm" (click)="isQueryCollapsed = !isQueryCollapsed" [attr.aria-expanded]="!isQueryCollapsed"
           aria-controls="collapseQuery">{{isQueryCollapsed == true?'展开':'收起'}}</button>
    </div>
    <div class="card-body"  id="collapseQuery" [ngbCollapse]="isQueryCollapsed">
        <div class="form-inline">
                </div>
        <div class="form-inline ">
            <div class="col-12 ">
                <div class="float-right btn-group">
                    <button class="btn btn-xsm btn-warning" (click)="resetQueryForm()">重置</button>
                    <button class="btn btn-xsm btn-info " (click)="loadDataList()">搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>
      <div class="card mt-2">
        <div class="card-header">
          <div class="btn-group">
<!--            <button *ngIf="envService.showPopUp" class="btn btn-outline-primary btn-xsm"-->
<!--                    [appCommonEdit]-->
<!--                    [comp]="getComponentByName('ChangePartyComponent')"-->
<!--                    [handleTaskComponent]="getComponentByName('ViewDwAssessmentComponent')"-->
<!--                    (dataSavedEvent)="dataSaved($event)"-->
<!--                    (handleTaskEvent)="handleTask($event)"><i class="fa fa-plus-circle"></i>新增</button>-->
<!--            <button [disabled]="checkedNum==0" class="btn btn-xsm  btn-danger" [confirm]="'确定删除？'" (confirmClick)="deleteList()"><i class="fa fa-fw fa-remove"></i>批量删除-->
<!--            </button>-->
          </div>
            <button type="button" class="btn btn-outline-primary float-right btn-xsm" (click)="isOpratorCollapsed = !isOpratorCollapsed" [attr.aria-expanded]="!isOpratorCollapsed"
                    aria-controls="collapseOprator">{{isOpratorCollapsed == true?'展开':'收起'}}</button>
        </div>
        <div class="card-body" id="collapseOprator" [ngbCollapse]="isOpratorCollapsed">
          <ng-container *ngTemplateOutlet="table"></ng-container>
        </div>
      </div>
  </div>
</ng-template>
<ng-container *ngIf="showDataTableOnly">
  <ng-container *ngTemplateOutlet="table"></ng-container>
</ng-container>

<ng-template #table>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="">
      <tr>
<!--        <th><input type="checkbox" [checked]="isAllChecked" (click)="checkAll()"></th>-->
                <th>{{uiLabel('year')}}</th>
                <th>{{uiLabel('assessmentResult')}}</th>
<!--        <th>操作</th>-->
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="dataList">
        <tr>
<!--          <td><input type="checkbox" [(ngModel)]="data.checked"></td>-->
                  <td>{{data.year}}</td>
                  <td>{{data.assessmentResult}}</td>
<!--          <td class="btn-group">-->
<!--              <ng-container *ngIf="envService.showPopUp">-->
<!--                <button class="btn btn-xsm btn-outline-dark" [appCommonView] [comp]="getComponentByName('ViewDwAssessmentComponent')" [procInstId]="data.procInstId"  [PK]="fieldInfoService.getEntityPK(data)" (handleTaskDoneEvent)="loadDataList()" #viewButton><i class="fa fa-eye"></i>查看</button>-->
<!--                <ng-container *ngIf="canEdit(data)">-->
<!--&lt;!&ndash;                  <button class="btn btn-xsm btn-outline-dark" [appCommonEdit]&ndash;&gt;-->
<!--&lt;!&ndash;                          [comp]="getComponentByName('EditDwAssessmentComponent')"&ndash;&gt;-->
<!--&lt;!&ndash;                          [handleTaskComponent]="getComponentByName('ViewDwAssessmentComponent')"&ndash;&gt;-->
<!--&lt;!&ndash;                          [PK]="fieldInfoService.getEntityPK(data)"&ndash;&gt;-->
<!--&lt;!&ndash;                          (dataSavedEvent)="dataSaved($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                          (handleTaskEvent)="handleTask($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                  ><i class="fa fa-edit"></i>编辑</button>&ndash;&gt;-->
<!--                </ng-container>-->
<!--              </ng-container>-->
<!--          </td>-->
        </tr>
      </ng-template>
      </tbody>

    </table>
    <small class="form-inline">
      <ngb-pagination [collectionSize]="pageData.listSize" [pageSize]="submitQueryData.viewSize" [(page)]="pageData.page" (pageChange)="pageData.pageChange($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      <label>共{{pageData.listSize}}条记录</label>
    </small>

  </div>
</ng-template>
