.dept-rule-btn{
  width: 80px;
}
tree-internal ul {
  padding: 3px 0 3px 0px;
}
.left-tree{
  width:300px;
  background-color: #f6f6f6;
}
.right-content{
  position: relative;
  margin-left: 300px;
  padding-left: 15px;
}
