<app-common-pop-or-page heading="{{inEdit?'修改':'添加'}}请假申请"
                        [contentView]="contentView"
                        [operateView]="operateView"
                        (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
<ng-content></ng-content>
<ng-template #contentView>
  <div class="card">
    <div class="card-header">
      基本信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-12">
            <small class="col-2 col-form-label text-right">
              {{uiLabel('reason')}}:
            </small>
            <textarea class="col-8 form-control form-control-sm" rows="2" [(ngModel)]="editDataTemp.reason"></textarea>
            <small class="col-2">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              <span class="text-danger">*</span>
              {{uiLabel('startDate')}}:
            </small>
            <input class="col-4 form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="editDataTemp.startDate" ngbDatepicker #startDate="ngbDatepicker" (click)="startDate.toggle()">
            <small class="col-4">
              <div>
                <small class="text-left text-muted">必填</small>
              </div>
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('endDate')}}:
            </small>
            <input class="col-4 form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="editDataTemp.endDate" ngbDatepicker #endDate="ngbDatepicker" (click)="endDate.toggle()">
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2" *ngIf="commonService.hasAttachment">
    <app-attachment-files [(ngModel)]="attachList"></app-attachment-files>
  </div>



</ng-template>

<ng-template #operateView>
  <div class="float-right btn-group">
    <button type="submit" class="btn btn-xsm btn-warning" (click)="saveData()">保存</button>
    <button type="submit" *ngIf="commonService.hasFlow" class="btn btn-xsm btn-primary" (click)="saveAndHandleTask()">提交审批</button>
  </div>
</ng-template>

