.main-container {
  position: absolute;
  min-width: 1000px;
  top: 80px;
  left: 250px;
  bottom: 0;
  right: 15px;
  -ms-overflow-x: hidden;

}

.main-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .main-container {
    left: 0px !important;
  }
}

.alert-message-global {
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 999888;
}
