<div class="form-inline">
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('assessmentType')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.assessmentType}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('office')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.office}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('approveNumber')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.approveNumber}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('approveTime')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.approveTime}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('caption')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.caption}}
    </div>
  </div>
</div>
