<div class="card">
  <div class="card-header">
    基本信息
  </div>
  <div>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">所属部门</td>
        <td width="18%" style="text-align: center"><span style="margin-left: 5px; margin-right: 5px">{{viewDataTemp.departmentValue}}</span></td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7;">分党委/党总支</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.generalpartyValue}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">党支部</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.branchpartyValue}}</td>
        <td rowspan="4">
          <app-image-view [appImageView]="viewDataTemp.photoaddress" [imgStyle]="'common-image-size'"></app-image-view>
        </td>
      </tr>
      <tr>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">姓名</td>
        <td width="18%" style="text-align: center"> {{viewDataTemp.name}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">性别</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.genderValue}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">年龄</td>
        <td width="18%" style="text-align: center"> {{age}}</td>
      </tr>
      <tr>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">民族</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.ethnicValue}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">籍贯</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.hometown}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">出生地</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.birth}}</td>
      </tr>
      <tr>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">身份</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.identityValue}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">身份证号</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.idnumber}}</td>
        <td width="12%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">出生年月</td>
        <td width="18%" style="text-align: center">{{viewDataTemp.birthday}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header">
    学历信息
  </div>
  <div *ngIf="viewDataTemp.identity==1">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimeacademicValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimeacademicValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimeacademicprofessional')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimeacademicprofessional}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimeacademicschool')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimeacademicschool}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimeacademicperiodtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimeacademicperiodtime}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimedegreeValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimedegreeValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimedegreeprofessional')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimedegreeprofessional}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimedegreeschool')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimedegreeschool}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherfulltimedegreeperiodtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherfulltimedegreeperiodtime}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inserviceacademicValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inserviceacademicValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inserviceacademicprofessional')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inserviceacademicprofessional}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inserviceacademicschool')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inserviceacademicschool}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inserviceacademicperiodtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inserviceacademicperiodtime}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inservicedegreeValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inservicedegreeValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inservicedegreeprofessional')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inservicedegreeprofessional}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inservicedegreeschool')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inservicedegreeschool}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('inservicedegreeperiodtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.inservicedegreeperiodtime}}</td>
      </tr>
<!--      <tr>-->
<!--        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7;">{{uiLabel('lastacademicdegreeValue')}}</td>-->
<!--        <td width="15%" style="text-align: center">{{viewDataTemp.lastacademicdegreeValue}}</td>-->
<!--        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7;"></td>-->
<!--        <td width="15%" style="text-align: center"></td>-->
<!--        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7;"></td>-->
<!--        <td width="15%" style="text-align: center"></td>-->
<!--        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7;"></td>-->
<!--        <td width="15%" style="text-align: center"></td>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header">
    工作信息
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherpersonnelnatureValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherpersonnelnatureValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teachercategoryValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teachercategoryValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teachertoworktime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teachertoworktime}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('jobnumber')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.jobnumber}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherpostValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherpostValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('jobtypeValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.jobtypeValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('postgradesValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.postgradesValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('stafflevelValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.stafflevelValue}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('technicaltitlesValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.technicaltitlesValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7">{{uiLabel('technicaltitleslevelValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.technicaltitleslevelValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('technicaltitlesservingtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.technicaltitlesservingtime}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('technicaltitlesnumber')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.technicaltitlesnumber}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherexistingduties')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherexistingduties}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('teacherexistingdutieslevelValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherexistingdutieslevelValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7">{{uiLabel('teacherexistingdutiesservingtime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherexistingdutiesservingtime}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7">{{uiLabel('teacherexistingdutiesnumber')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.teacherexistingdutiesnumber}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('vicedivision')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.vicedivision}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('anyzhengke')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.anyzhengke}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('deputyatthe')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.deputyatthe}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('lsatany')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.lsatany}}</td>
      </tr>
      <tr>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('samedutytime')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.samedutytime}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('samedutynumber')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.samedutynumber}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7">{{uiLabel('lastacademicdegreeValue')}}</td>
        <td width="15%" style="text-align: center">{{viewDataTemp.lastacademicdegreeValue}}</td>
        <td width="10%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px"></td>
        <td width="15%" style="text-align: center"></td>
      </tr>
    </table>
    <!--<div class="form-inline">-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherpersonnelnatureValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teacherpersonnelnatureValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teachercategoryValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teachercategoryValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teachertoworktime')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teachertoworktime}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('jobnumber')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.jobnumber}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherpostValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teacherpostValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('jobtypeValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.jobtypeValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('postgradesValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.postgradesValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('stafflevelValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.stafflevelValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('technicaltitlesValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.technicaltitlesValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('technicaltitleslevelValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.technicaltitleslevelValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('technicaltitlesservingtime')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.technicaltitlesservingtime}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('technicaltitlesnumber')}}:</small>-->
        <!--<div class="col-8 form-control border-0" style="height: 100%">-->
          <!--{{viewDataTemp.technicaltitlesnumber}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherexistingduties')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teacherexistingduties}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherexistingdutieslevelValue')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teacherexistingdutieslevelValue}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherexistingdutiesservingtime')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.teacherexistingdutiesservingtime}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('teacherexistingdutiesnumber')}}:</small>-->
        <!--<div class="col-8 form-control border-0" style="height: 100%">-->
          <!--{{viewDataTemp.teacherexistingdutiesnumber}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('vicedivision')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.vicedivision}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('anyzhengke')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.anyzhengke}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('deputyatthe')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.deputyatthe}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('lsatany')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.lsatany}}-->
        <!--</div>-->
      <!--</div>-->
        <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
          <!--<small class="col-4 col-form-label text-right">{{uiLabel('samedutytime')}}:</small>-->
          <!--<div class="col-8 form-control border-0">-->
            <!--{{viewDataTemp.samedutytime}}-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
          <!--<small class="col-4 col-form-label text-right">{{uiLabel('samedutynumber')}}:</small>-->
          <!--<div class="col-8 form-control border-0" style="height: 100%">-->
            <!--{{viewDataTemp.samedutynumber}}-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group p-0 pt-1 col-3" style=" border: solid 1px #ddd;height: 62px">-->
          <!--<small class="col-4 col-form-label text-right">{{uiLabel('lastacademicdegreeValue')}}:</small>-->
          <!--<div class="col-8 form-control border-0">-->
            <!--{{viewDataTemp.lastacademicdegreeValue}}-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
  </div>
</div>
<div class="card">
  <div class="card-header">
    备注信息
  </div>
  <div>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td width="8%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('remarks1')}}</td>
        <td width="42%" style="text-align: center">{{viewDataTemp.remarks1}}</td>
        <td width="8%" style="text-align:justify; text-justify:distribute-all-lines; text-align-last:justify; background-color: #f7f7f7; padding-left: 10px; padding-right: 10px">{{uiLabel('remarks2')}}</td>
        <td width="42%" style="text-align: center">{{viewDataTemp.remarks2}}</td>
      </tr>
      </tbody>
    </table>
    <!--<div class="form-inline">-->
      <!--<div class="form-group p-0 pt-1 col-6" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('remarks1')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.remarks1}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group p-0 pt-1 col-6" style=" border: solid 1px #ddd">-->
        <!--<small class="col-4 col-form-label text-right">{{uiLabel('remarks2')}}:</small>-->
        <!--<div class="col-8 form-control border-0">-->
          <!--{{viewDataTemp.remarks2}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
