<div class="form-inline">
<!--  <div class="form-group p-0 pt-1 col-6">-->
<!--    <small class="col-4 col-form-label text-right">{{uiLabel('id')}}:</small>-->
<!--    <div class="col-8 form-control border-0">-->
<!--          {{viewDataTemp.id}}-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('generalPartyNumber')}}:</small>
    <div class="col-8 form-control border-0">
      {{viewDataTemp.generalPartyNumber}}
    </div>
  </div>
  <div class="form-group p-0 pt-1 col-6">
    <small class="col-4 col-form-label text-right">{{uiLabel('generalPartyName')}}:</small>
    <div class="col-8 form-control border-0">
          {{viewDataTemp.generalPartyName}}
    </div>
  </div>
<!--  <div class="form-group p-0 pt-1 col-6">-->
<!--    <small class="col-4 col-form-label text-right">{{uiLabel('parentIdValue')}}:</small>-->
<!--    <div class="col-8 form-control border-0">-->
<!--          {{viewDataTemp.parentIdValue}}-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group p-0 pt-1 col-6">-->
<!--    <small class="col-4 col-form-label text-right">{{uiLabel('generalPartyHistory')}}:</small>-->
<!--    <div class="col-8 form-control border-0">-->

<!--      {{viewDataTemp.generalPartyHistoryValue}}-->
<!--        </div>-->
<!--  </div>-->

</div>
