<app-common-pop-or-page heading="{{inEdit?'修改':'添加'}}干部"
                        [contentView]="contentView"
                        [operateView]="operateView"
                        (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
<ng-content></ng-content>
<ng-template #contentView>
  <div class="card">
    <div class="card-header">
      基本信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('photoaddress')}}:
            </small>

            <app-upload-image [(ngModel)]="editDataTemp.photoaddress"></app-upload-image>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('department')}}:
            </small>
            <span class="col-6 form-control form-control-sm" [selectDwBuMen]=""
                  [showValue]="editDataTemp.departmentValue" [(ngModel)]="editDataTemp.department"></span>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              政治面貌:
            </small>
            <div class="col-6 form-control form-control-sm">{{editDataTemp.phases>=5?'中共党员':'群众'}}</div>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('joinOrgTime')}}:
            </small>
            <div class="col-6 form-control form-control-sm">{{joinOrgTime}}</div>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('name')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="请输入姓名，2~64个字符" [(ngModel)]="editDataTemp.name" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('gender')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.gender"
                           [dataList]="genderSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('ethnic')}}:
            </small>

            <span class="col-6 form-control form-control-sm" [selectDwEthnic]="" [showValue]="editDataTemp.ethnicValue"
                  [(ngModel)]="editDataTemp.ethnic"></span>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('hometown')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="籍贯，最长8位，例如:湖北荆州" [(ngModel)]="editDataTemp.hometown" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('birth')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="出生地，最长8位，例如:浙江东阳" [(ngModel)]="editDataTemp.birth" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('identity')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.identity"
                           [dataList]="identitySelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('idnumber')}}:
            </small>
            <input class="col-6 form-control form-control-sm" (blur)="fillBirthday()" maxlength="18" ngbTooltip="请输入18位身份证号码" [(ngModel)]="editDataTemp.idnumber" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('birthday')}}:
            </small>
            <input class="col-6 form-control form-control-sm" (blur)="fillBirthday()" ngbTooltip="出生年月，格式:2001.01，不输入则根据身份证信息自动生成" [(ngModel)]="editDataTemp.showBirthday" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-4">
            <small class="col-4 col-form-label text-right">
              年龄:
            </small>

            <div class="col-6 p-0 ml-0">{{age}}</div>
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      学历信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimeacademic')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           ngbTooltip="全日制学历必须满足三个条件&#10;①参加全国统考&#10;②学习期间与原单位脱离人事、工资关系&#10;③毕业后经省毕业办重新派遣&#10;除此之外所取得的最高学历学位都是在职教育。"
                           [(ngModel)]="editDataTemp.teacherfulltimeacademic"
                           [dataList]="teacherfulltimeacademicSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimeacademicprofessional')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.teacherfulltimeacademicprofessional" type="text">
            <small class="col-4">
            </small>
          </div>
            <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimeacademicschool')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.teacherfulltimeacademicschool"
                   type="text">
            <small class="col-4">
            </small>
          </div>
            <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimeacademicperiodtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="格式:1988.09--1992.06"
                   [(ngModel)]="editDataTemp.teacherfulltimeacademicperiodtime" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimedegree')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           ngbTooltip="全日制学历必须满足三个条件&#10;①参加全国统考&#10;②学习期间与原单位脱离人事、工资关系&#10;③毕业后经省毕业办重新派遣&#10;除此之外所取得的最高学历学位都是在职教育。"
                           [(ngModel)]="editDataTemp.teacherfulltimedegree"
                           [dataList]="teacherfulltimedegreeSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimedegreeprofessional')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.teacherfulltimedegreeprofessional" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimedegreeschool')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.teacherfulltimedegreeschool"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherfulltimedegreeperiodtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="格式:1988.09--1992.06" [(ngModel)]="editDataTemp.teacherfulltimedegreeperiodtime"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inserviceacademic')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.inserviceacademic"
                           [dataList]="teacherfulltimeacademicSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inserviceacademicprofessional')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inserviceacademicprofessional"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inserviceacademicschool')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inserviceacademicschool"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inserviceacademicperiodtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inserviceacademicperiodtime"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inservicedegree')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.inservicedegree"
                           [dataList]="teacherfulltimedegreeSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inservicedegreeprofessional')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inservicedegreeprofessional"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inservicedegreeschool')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inservicedegreeschool"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('inservicedegreeperiodtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.inservicedegreeperiodtime"
                   type="text">
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      工作信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherpersonnelnature')}}:
            </small>
            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.teacherpersonnelnature"
                           [dataList]="personnelnatureSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teachercategory')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.teachercategory"
                           [dataList]="teachercategorySelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teachertoworktime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="参加工作时间，格式:2001.01" [(ngModel)]="editDataTemp.teachertoworktime" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('jobnumber')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="工号格式为0~32位数字" [(ngModel)]="editDataTemp.jobnumber" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherpost')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.teacherpost"
                           [dataList]="teacherpostSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('jobtype')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.jobtype"
                           [dataList]="jobtypeSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('postgrades')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.postgrades"
                           [dataList]="dwjobtypelevelSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('stafflevel')}}:
            </small>
            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.stafflevel"
                           [dataList]="fieldInfoService.fieldInfoMap.stafflevel.selectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('technicaltitles')}}:
            </small>

            <span class="col-6 form-control form-control-sm" [selectDwTitles]=""
                  [showValue]="editDataTemp.technicaltitlesValue" [(ngModel)]="editDataTemp.technicaltitles"></span>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('technicaltitleslevel')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.technicaltitleslevel"
                           [dataList]="titleslevelSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('technicaltitlesservingtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.technicaltitlesservingtime" ngbTooltip="格式:2001.01"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('technicaltitlesnumber')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.technicaltitlesnumber"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherexistingduties')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.teacherexistingduties"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherexistingdutieslevel')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.teacherexistingdutieslevel"
                           [dataList]="dutieslevelSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherexistingdutiesservingtime')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.teacherexistingdutiesservingtime" type="text" ngbTooltip="格式:2001.01">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('teacherexistingdutiesnumber')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.teacherexistingdutiesnumber"
                   type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('vicedivision')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.vicedivision" type="text" ngbTooltip="格式:2001.01">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('anyzhengke')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.anyzhengke" type="text" ngbTooltip="格式:2001.01">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('deputyatthe')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.deputyatthe" type="text" ngbTooltip="格式:2001.01">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('lsatany')}}:
            </small>
            <input class="col-6 form-control form-control-sm"
                   [(ngModel)]="editDataTemp.lsatany" type="text" ngbTooltip="格式:2001.01">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('samedutytime')}}:
            </small>
            <input class="col-6 form-control form-control-sm" ngbTooltip="格式:2001.01" [(ngModel)]="editDataTemp.samedutytime" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('samedutynumber')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.samedutynumber" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-3">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('lastacademicdegree')}}:
            </small>

            <common-select class="col-6 p-0 ml-0" [cssStyle]="'form-control form-control-sm'"
                           [(ngModel)]="editDataTemp.lastacademicdegree"
                           [dataList]="lastacademicdegreeSelectDataList"></common-select>
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      备注信息
    </div>
    <div class="card-body">
      <div>
        <div class="form-inline">
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('remarks1')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.remarks1" type="text">
            <small class="col-4">
            </small>
          </div>
          <div class="form-group p-0 pt-1 col-6">
            <small class="col-4 col-form-label text-right">
              {{uiLabel('remarks2')}}:
            </small>
            <input class="col-6 form-control form-control-sm" [(ngModel)]="editDataTemp.remarks2" type="text">
            <small class="col-4">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 简历 -->
  <div class="card mt-2">
    <div class="card-header">
      <span>个人简历</span>
      <button class="btn btn-outline-primary btn-xsm ml-1" (click)="addResumeRow()"><i class="fa fa-plus-circle"></i>添加一行
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="">
          <tr>
            <th style="width: 65%">简历描述</th>
            <th style="width: 30%">备注</th>
            <th style="width: 5%">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="resumeList">
            <tr>
              <td>
                <input type="text" [(ngModel)]="data.caption" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.remark" class="form-control form-control-sm ">
              </td>
              <td>
                <div class="btn-group ">
                  <button class="btn btn-xsm btn-outline-danger" [confirm]="'确定删除吗？'"
                          (confirmClick)="deleteResumeRow(data)">
                    删除
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 年度考核 -->
  <div class="card mt-2">
    <div class="card-header">
      <span>年度考核</span>
      <button class="btn btn-outline-primary btn-xsm ml-1" (click)="addAssessmentRow()"><i
        class="fa fa-plus-circle"></i>添加一行
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="">
          <tr>
            <th>年度</th>
            <th>结果</th>
            <th style="width: 5%">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="assessmentList">
            <tr>
              <td>
                <input type="text" [(ngModel)]="data.year" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.assessmentResult" class="form-control form-control-sm ">
              </td>
              <td>
                <div class="btn-group ">
                  <button class="btn btn-xsm btn-outline-danger" [confirm]="'确定删除吗？'"
                          (confirmClick)="deleteAssessmentRow(data)">
                    删除
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 培训 -->
  <div class="card mt-2">
    <div class="card-header">
      <span>培训信息</span>
      <button class="btn btn-outline-primary btn-xsm ml-1" (click)="addTranRow()"><i class="fa fa-plus-circle"></i>添加一行
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="">
          <tr>
            <th>培训班名称</th>
            <th>主办单位</th>
            <th>承办机构</th>
            <th>培训地点</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th style="width: 5%">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="trainList">
            <tr>
              <td>
                <input type="text" [(ngModel)]="data.trainClassName" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.sponsor" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.management" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.trainPlace" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" ngbTooltip="格式:2001.01.01" [(ngModel)]="data.startTime"
                       class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" ngbTooltip="格式:2001.01.12" [(ngModel)]="data.endTime"
                       class="form-control form-control-sm ">
              </td>
              <td>
                <div class="btn-group ">
                  <button class="btn btn-xsm btn-outline-danger" [confirm]="'确定删除吗？'"
                          (confirmClick)="deleteTrainRow(data)">
                    删除
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 家庭 -->
  <div class="card mt-2">
    <div class="card-header">
      <span>主要家庭成员及重要社会关系</span>
      <button class="btn btn-outline-primary btn-xsm ml-1" (click)="addFamilyRow()"><i class="fa fa-plus-circle"></i>添加一行
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="">
          <tr>
            <th style="width: 15%">称谓</th>
            <th style="width: 15%">姓名</th>
            <th style="width: 15%">出生年月</th>
            <th style="width: 15%">政治面貌</th>
            <th>工作单位及职务</th>
            <th style="width: 5%">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="familyList">
            <tr>
              <td>
                <input type="text" [(ngModel)]="data.title" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.name" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" ngbTooltip="格式:2001.01" [(ngModel)]="data.birthday" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.political" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.workunits" class="form-control form-control-sm ">
              </td>
              <td>
                <div class="btn-group ">
                  <button class="btn btn-xsm btn-outline-danger" [confirm]="'确定删除吗？'"
                          (confirmClick)="deleteFamilyRow(data)">
                    删除
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 奖惩情况 -->
  <div class="card mt-2">
    <div class="card-header">
      <span>奖惩情况</span>
      <button class="btn btn-outline-primary btn-xsm ml-1" (click)="addRapRow()"><i class="fa fa-plus-circle"></i>添加一行
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="">
          <tr>
            <th style="width: 15%">奖惩类别</th>
            <th style="width: 15%">批准机关</th>
            <th style="width: 15%">批准文号</th>
            <th style="width: 15%">批准时间</th>
            <th>奖惩名称</th>
            <th style="width: 5%">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="rapList">
            <tr>
              <td>
                <input type="text" [(ngModel)]="data.assessmentType" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.office" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.approveNumber" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" ngbTooltip="格式:2001.01" [(ngModel)]="data.approveTime" class="form-control form-control-sm ">
              </td>
              <td>
                <input type="text" [(ngModel)]="data.caption" class="form-control form-control-sm ">
              </td>
              <td>
                <div class="btn-group ">
                  <button class="btn btn-xsm btn-outline-danger" [confirm]="'确定删除吗？'"
                          (confirmClick)="deleteRapRow(data)">
                    删除
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mt-2" *ngIf="commonService.hasAttachment">
    <app-attachment-files [(ngModel)]="attachList"></app-attachment-files>
  </div>


</ng-template>

<ng-template #operateView>
  <div class="float-right btn-group-sm">
    <button *ngIf="envService.showPopUp" class="btn btn-sm btn-primary" [hidden]="currentPhases!=5&&currentPhases!=6"
            [appCommonEdit]
            [comp]="getDwRelationshipComponent()"
            [PK]="{'pertymember':editDataTemp.id}"
    >关系转接
    </button>
    <button type="submit" class="btn btn-sm btn-primary" [hidden]="!inEdit||editDataTemp.pertymembermodel==1" (click)="tobeApplicant()">转为申请人</button>
    <button type="submit" class="btn btn-sm btn-primary" [hidden]="!inEdit||editDataTemp.pertymembermodel!=1||currentPhases<1||currentPhases>5" (click)="phasesUp()">{{phasesButtonText}}</button>
    <a class="btn btn-lg btn-primary" *ngIf="inEdit&&editDataTemp.cadresmodel==1" [href]="'exportCadresReportDoc/?id=' + editDataTemp.id| serverUrl"><i class="fa fa-file-word-o"></i>下载干部任免审批表</a>
    <button type="submit" class="btn btn-sm btn-primary" [hidden]="!inEdit||editDataTemp.cadresmodel!=1" (click)="dutiesLevelUp()">干部晋升</button>
    <button type="submit" class="btn btn-sm btn-primary" [hidden]="!inEdit||editDataTemp.cadresmodel==1" [confirm]="'确认转为干部？'" (confirmClick)="tobeCadres()">转为干部</button>
    <button type="submit" class="btn btn-sm btn-primary" [hidden]="!inEdit" [confirm]="'确认取消干部？'" (confirmClick)="cancelCadres()">取消干部</button>
    <button type="submit" class="btn btn-sm btn-warning" (click)="saveData()">保存</button>
  </div>
</ng-template>

<ng-template #editPartyPhasesContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{changeTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editPartyPhasesRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group p-0 pt-1 col-12">
      <small class="col-4 col-form-label text-right">
        {{changePartyPhases}}:
      </small>
      <app-date-input *ngIf="editDataTemp.phases!=2" class="col-8 p-0 ml-0" [(ngModel)]="changeDate"></app-date-input>
      <span class="col-4 form-control form-control-sm" *ngIf="editDataTemp.phases==2" [selectDwPhases]="" [showValue]="editDataTemp.phasesValue"
            [(ngModel)]="partyphases"></span>
    </div>

  </div>
  <div class="modal-footer">
    <button [disabled]="!changeDate&&!partyphases" class="btn btn-primary btn-sm" (click)="savePartyPhases()">保存</button>
    <button class="btn btn-primary btn-sm" (click)="editPartyPhasesRef.close()">关闭</button>
  </div>
</ng-template>

<ng-template #editDutyLevelContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">干部晋升</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editDutyLevelRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group p-0 pt-1 col-12">
      <small class="col-12 col-form-label text-right">
        现有职务名称:
      </small>
      <input class="col-12 form-control form-control-sm" [(ngModel)]="teacherexistingduties">
    </div>
    <div class="form-group p-0 pt-1 col-12">
      <small class="col-12 col-form-label text-right">
        任职时间:
      </small>
      <input class="col-12 form-control form-control-sm" ngbTooltip="格式:2001.01" [(ngModel)]="teacherexistingdutiesservingtime">
    </div>
    <div class="form-group p-0 pt-1 col-12">
      <small class="col-12 col-form-label text-right">
        任职文号:
      </small>
      <input class="col-12 form-control form-control-sm" [(ngModel)]="teacherexistingdutiesnumber">
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="!teacherexistingdutiesservingtime||!teacherexistingduties||!teacherexistingdutiesnumber" class="btn btn-primary btn-sm" (click)="saveDutyLevelUp()">保存</button>
    <button class="btn btn-primary btn-sm" (click)="editDutyLevelRef.close()">关闭</button>
  </div>
</ng-template>

<ng-template #editPhasesUpContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{phasesButtonText}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editPhasesUpRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group p-0 pt-1 col-12">
      <span class="col-4 float-right" [hidden]="currentPhases!=4"><app-upload-image [(ngModel)]="editDataTemp.photoaddress"></app-upload-image></span>
      <small class="col-4 col-form-label text-right">
        {{editPhasesLabel}}:
      </small>
      <app-date-input class="col-4 row p-0 m-0" [hidden]="currentPhases==2" [(ngModel)]="phasesUpTime"></app-date-input>
      <!--      <input class="col-12 form-control form-control-sm" title="格式:2001.01.11"  [(ngModel)]="phasesUpTime">-->
      <span class="col-4 form-control form-control-sm" [hidden]="currentPhases!=2" [selectDwPhases]="" [showValue]="editDataTemp.partyphasesValue" [(ngModel)]="phasesUpSelect"></span>
      <small class="col-12 col-form-label text-right" [hidden]="currentPhases!=4">
        志愿书编号:
      </small>
      <input class="col-12 form-control form-control-sm" ngbTooltip="志愿书编号10位数字" [hidden]="currentPhases!=4" [(ngModel)]="volunteerbook">
      <small class="col-12 col-form-label text-right" [hidden]="currentPhases!=4">
        党内职务:
      </small>
      <common-select class="col-5 p-0 ml-0" [cssStyle]="'form-control form-control-sm'" [hidden]="currentPhases!=4" [(ngModel)]="partypost" [dataList]="selectPartypostList"></common-select>
      <small class="col-12 col-form-label text-right" [hidden]="currentPhases!=4">
        党员评议:
      </small>
      <common-select class="col-5 p-0 ml-0" [cssStyle]="'form-control form-control-sm'" [hidden]="currentPhases!=4" [(ngModel)]="pingyi" [dataList]="selectPingYiList"></common-select>
      <small class="col-12 col-form-label text-right" [hidden]="currentPhases!=4">
        评议结果:
      </small>
      <common-select class="col-5 p-0 ml-0" [cssStyle]="'form-control form-control-sm'" [hidden]="currentPhases!=4" [(ngModel)]="pyresult" [dataList]="selectPyResultList"></common-select>
      <small class="col-12 col-form-label text-right" [hidden]="currentPhases!=4">
        增加时间:
      </small>
      <input class="col-12 form-control form-control-sm" ngbTooltip="格式:2012.10" [hidden]="currentPhases!=4" [(ngModel)]="growthtime">
    </div>
  </div>
  <div class="modal-footer">

    <button [disabled]="checkInput()" class="btn btn-primary btn-sm" (click)="savePhasesUp()">保存</button>
    <button class="btn btn-primary btn-sm" (click)="editPhasesUpRef.close()">关闭</button>
  </div>
</ng-template>
