<div style="height: 100%;" [@routerTransition]>
  <app-page-header [heading]="'数据库管理工具'" [icon]="'fa-wrench'"></app-page-header>
  <div class="entity-model-list-main">
    <div class="float-left left-tree">
      <table class="table table-hover">
        <ng-container *ngFor="let dataSource of dataSourceList">
          <tr [class.tr-selected]="currentDataSourceName==dataSource.dataSourceName"
              [shAttachMenu]="dataSource.dataSourceName=='default'?defaultDataSourceMenu:dataSourceMenu" [shMenuData]="dataSource.dataSourceName"
              (click)="gotoDataSource(dataSource.dataSourceName)">
            <td>
              <div style="cursor: pointer;">
                <img src="assets/images/entity/dataBase.bmp">{{dataSource.description}}({{dataSource.dataSourceName}})
              </div>
            </td>
          </tr>

        </ng-container>

      </table>

    </div>


    <div class="right-content bg-white">
      <div class="p-2 mb-2 bg-gray-me table-list-header" *ngIf="entityModelList">
        <span style="font-size: 20px;">{{currentDataSourceName}}数据库有{{entityModelList.length}}张表</span>
        <div class="btn-group">
          <button *ngIf="currentDataSourceName!='default'" class="btn btn-xsm btn-outline-danger" [disabled]="checkedNum==0" [confirm]="'确定删除表吗？'" (confirmClick)="deleteEntityModel()">删除表</button>
          <a class="btn btn-xsm btn-outline-info" href="{{getXmlDownLoadUrl()}}" [target]="checkedNum==0?'':'_blank'">导出数据</a>
        </div>
        <div class="form-inline float-right">
          <div class="form-group ">
            <small class=" col-form-label text-right"></small>
            <input class=" form-control form-control-sm" type="text" [(ngModel)]="searchValue" (keyup)="searchChange()" placeholder="搜索">
          </div>
        </div>
      </div>
      <div class="table-list">
        <table class="table table-hover table-striped">
          <thead class="thead-light">
          <tr>
            <th><input type="checkbox" [checked]="isAllChecked" (click)="checkAll()"></th>
            <th>表名</th>
            <th>备注</th>
            <th *ngIf="currentDataSourceName!='default'">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let entityModel of entityModelList">
            <tr *ngIf="entityModel.show">
              <input type="checkbox" [(ngModel)]="entityModel.checked">
              <td><a style="width:250px;" class="d-inline-block" routerLink="listGenericCurd/{{currentDataSourceName}}/{{entityModel.entityName}}"><img src="assets/images/entity/dataTable.bmp">{{entityModel.entityName}}</a></td>
              <td>{{entityModel.description}}</td>
              <td *ngIf="currentDataSourceName!='default'">
                <div class="btn-group">
                  <button class="btn btn-xsm btn-outline-dark"  routerLink="editEntityModel/{{currentDataSourceName}}/{{entityModel.entityName}}">设计表</button>
                </div>
              </td>
            </tr>
          </ng-container>

          </tbody>

        </table>


      </div>
    </div>

  </div>

</div>

<sh-context-menu #defaultDataSourceMenu>
  <ng-template shContextMenuItem let-data>
    <div [importData] [dataSourceName]="data"><img src="assets/images/entity/import-data.png">导入数据</div>
  </ng-template>
</sh-context-menu>

<sh-context-menu #dataSourceMenu>
  <ng-template shContextMenuItem let-data>
    <a href="javascript:void(0)"  routerLink="editEntityModel/{{data}}/null"><img src="assets/images/entity/add-table.png">新建表</a>
  </ng-template>
  <ng-template shContextMenuItem let-data>
    <div [importData] [dataSourceName]="data"><img src="assets/images/entity/import-data.png">导入数据</div>
  </ng-template>
</sh-context-menu>

