<app-handle-task *ngIf="viewTask"
                 [taskId]="taskId"
                 [procInstId]="procInstId"
                 [formView]="contentView"
                 (closeViewEvent)="closeViewEvent.emit()"
                 (handleTaskDoneEvent)="handleTaskDoneEvent.emit()"></app-handle-task>
<ng-container *ngIf="!viewTask">
  <app-common-pop-or-page heading="查看民主人士"
                          [contentView]="contentView"
                          (closeViewEvent)="closeViewEvent.emit()"></app-common-pop-or-page>
</ng-container>

<ng-template #contentView>
      <app-view-democrat-manage-base-info [PK]="PK"></app-view-democrat-manage-base-info>
  <!-- 培训信息 -->
  <div class="card mt-2">
    <div class="card-body">
      <app-list-dw-train [queryData]="{pertymember: PK.id}" [showDataTableOnly]="true"></app-list-dw-train>
    </div>
  </div>
  <!-- 奖惩信息 -->
  <div class="card mt-2">
    <div class="card-body">
      <app-list-dw-rap [queryData]="{pertymember: PK.id}" [showDataTableOnly]="true"></app-list-dw-rap>
    </div>
  </div>
  <div class="mt-2" *ngIf="commonService.hasAttachment">
    <app-attachment-files [(ngModel)]="attachList" [inEdit]="false"></app-attachment-files>
  </div>
</ng-template>
